#container {
    height:400px;
    width:400px;
    border:5px solid lightseagreen;
    background-color: white;
    border-radius:10px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    height: 100px;
    width:100px;
    font-size:50px;
    background-color: grey;
    border-radius:10px;
    text-align: center;
    border:2px solid black;
}

#outer {
    height:50px;
    width:900px;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: start-flex;
}
.logo {
    height:50px;
    width: 80px;
    font-size:24px;
    border-radius: 10px;
    margin-left:5px;
    line-height:50px;
}